node_modules/
yarn.lock

logs/
*.log

deploy/

.tmp/
.vscode/
docs/

.eslintrc.js
.gitattributes
.gitignore
.travis.yml
.github/
test/
src/
tsconfig.json
tslint.json
.eslintrc
.npmrc
.npmignore
webpack.config.js
